/* Reset */ 

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: "Edu AU VIC WA NT Pre", cursive;
    overflow-x: hidden;
}
/* Header */
.contenitore-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/wall.png');
    height: 100px;
}

.contenitore-header h1{
    font-size: 50px;
}

/* Main */ 

.contenitore{
    background-image: url('img/cork.png');
    height: 100%;
    display: flex;
    justify-content: center;
}

.contenitore-card{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 25px;
    justify-content: center;
}
.card{
    width: 350px;
    background-color: white;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    box-shadow:  3px 3px rgba(0, 0, 0,0.2);
}
.card:hover{
    cursor: pointer;
    transform: rotate(-15deg);
    transition: transform 2s ease, box-shadow 0.5s ease;
    z-index: 100;
    box-shadow: 8px 8px rgba(0, 0, 0,0.2);
}
.card img{
    height: 85%;
    padding: 15px;
    object-fit: cover;
    border-radius: 10px;
}

.card figcaption{
    height: 15%;
    padding: 0px 15px;
    font-size: 13px;
}
.card:hover .pin{
    visibility: hidden;
}
.pin{
    position: absolute;
    top: -30px;
    left: 175px;
    transform: translateX(-50%);
}
.pin-obj{
    width: 65px;
}